version: '2.1'

services:
  db:
    restart: "always"
    image: mysql:5.6
    command: "mysqld --character-set-server=utf8 --collation-server=utf8_general_ci"
    environment:
      MYSQL_DATABASE: openmrs
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-Admin123}
      MYSQL_USER: ${MYSQL_USER:-openmrs}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-Admin123}
    healthcheck:
      test: "exit 0"
    volumes:
      - ./dbdump:/docker-entrypoint-initdb.d
      - db-data:/var/lib/mysql  # uncomment to keep database between docker runs

  web:
    restart: "always"
    image: openmrs/openmrs-distro-mdsbuilder
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_DATABASE: openmrs
      DB_HOST: db
      DB_USERNAME: ${MYSQL_USER:-openmrs}
      DB_PASSWORD: ${MYSQL_PASSWORD:-Admin123}
      DB_CREATE_TABLES: 'false'
      DB_AUTO_UPDATE: 'false'
      MODULE_WEB_ADMIN: 'false'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/openmrs/"]
      timeout: 20s
    volumes:
      - web-data:/usr/local/tomcat/.OpenMRS
      - /usr/local/tomcat/.OpenMRS/modules/ # do not store modules in web-data
      - /usr/local/tomcat/.OpenMRS/owa/ # do not store owa in web-data

  backup:
    image: openmrs/cron-backup:latest
    depends_on:
      - web
    volumes:
      - db-data:/db_data
      - web-data:/web_data
      - ${BACKUP_DIR-/opt/backups}:/backup
    environment:
      - DIRS=/db_data:db,/web_data:web
      - SCHEDULE=0 0 * * *
    restart: always
    healthcheck:
      test: "exit 0"

volumes:
  db-data:
  web-data:
