LDAP_DOMAIN=openmrs.org
LDAP_ADMIN_PASSWORD=<>
LDAP_CONFIG_PASSWORD=<>
LDAP_TLS_CRT_FILENAME=live/ruiru.openmrs.org/cert.pem
LDAP_TLS_KEY_FILENAME=live/ruiru.openmrs.org/privkey.pem
LDAP_TLS_CA_CRT_FILENAME=live/ruiru.openmrs.org/fullchain.pem
CERTS_DIR=/etc/letsencrypt
BACKUP_DIR=/opt/backups
TEST_DATA_DIR=/root/
