DB_HOST=db
DB_NAME=atlasdb
DB_USERNAME=username
DB_PASSWORD=secret
BACKUP_DIR=/opt/backups
LDAP_URI=ldaps://ldap-stg.openmrs.org:636
LDAP_USER=atlas
LDAP_PASSWORD=secret
LDAP_USERS_GROUP=atlas-users
LDAP_ADMIN_GROUP=atlas-administrators
MAIL_HOST=smtp.mandrillapp.com
MAIL_PORT=587
MAIL_AUTH=true
MAIL_USER=infrastructure@openmrs.org
MAIL_PASS=secret
SESSION_SECRET=secret
GOOGLE_MAPS_JS_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_ANALYTICS_TRACKING_ID=UA-12345678-90
