LDAP_DOMAIN=ldap.openmrs.org
LDAP_ADMIN_PASSWORD=<>
BACKUP_DIR=/opt/backups
LDAP_TLS_CRT_FILENAME=cert1.pem
LDAP_TLS_KEY_FILENAME=privkey1.pem
LDAP_TLS_CA_CRT_FILENAME=fullchain1.pem
CERTS_DIR=/etc/letsencrypt/archive/ako.openmrs.org
