MYSQL_ROOT_PASSWORD=secret
YOURLS_DB_USER=username
YOURLS_DB_PASS=secret
YOURLS_DB_NAME=yourldb
YOURLS_DB_HOST=db
YOURLS_DEBUG=false
YOURLS_USERS=admin:admin
YOURLS_SITE=https://om.rs
YOURLS_INDEX_WEBSITE=https://openmrs.org
YOURLS_ADMIN_SSL=false
YOURLS_UNIQUE_URLS=false
YOURLS_GA_TRACKING_ID=UA-12345678-90
BACKUP_DIR=/opt/backups
