'use strict'

module.exports = {
{% for image in docker_deployable_images %}
  "openmrs/{{ image['repository'] }}": "deploy-compose {{ image['compose'] }} > /root/docker/{{ image['compose'] }}.log",
{% endfor %}
}
