version: '2.1'

services:
  oclclient:
    image: openmrs/ocl-client:demo
    environment:
      - OCL_API_HOST=${OCL_API_HOST:-https://api.demo.openconceptlab.org/}
      - TRADITIONAL_OCL_HOST=${TRADITIONAL_OCL_HOST:-https://demo.openconceptlab.org}
      - ENVIRONMENT=${ENVIRONMENT:-demo}
    ports:
      - 8081:80
    restart: always
    healthcheck:
      test: ["CMD", "wget", "-q", "-s", "http://localhost/"]
